.item {
  background: #0bd;
  color: #fff;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
  /* 右から左 */
  /* flex-direction: row-reverse; */
  /* 子要素の折り返し */
  /* flex-wrap: wrap; */
  /* 水平方向の揃え */
  /* justify-content: flex-end; */

  /* 垂直方向の揃え */
  /* align-items: center;
  height: 100vh; */

  /* 複数行にしたときの揃え */
  /* display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 300px; */

  /* グリッドでタイル型に並べる */
  display: grid;
  /* グリッドアイテムの横幅 */
  /* grid-template-columns: 200px 200px 200px; */
  grid-template-columns: 1fr 1fr 1fr; /* 画面幅に合わせて伸縮 */
  /* グリッドアイテム同士の余白 */
  gap: 10px;
}